/*
 Project Name : Developers For Christ
 Author : Olayiwola Odunsi for Penciledge
  */

/* general classes defined here */
*{
	margin: 0;
	padding: 0;
  }
  body{
	/* font-family: 'Raleway', sans-serif; */
  /* font-weight: 600; */
	height: 100vh;
  overflow-x: hidden;
  list-style: none;
  color: rgb(9, 11, 20) !important;
  }
a{
	/* color: #f5f2f5; */
}
a:hover{
	text-decoration: none;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
ul{
	list-style: none;
}

/*   utility classes defined here  */
.bottom-0{
  bottom: 0;
}
.top-0{
  top: 0;
}
a.text-white{
  color: #fff !important;
}
.vertical-line{
  border: 2px solid #212529;
}
.circle{
  border-radius: 50%;
}
.square-30p{
  height: 30px;
  width: 30px;
}
.square-40p{
  height: 40px;
  width: 40px;
}
.square-50p{
  height: 50px;
  width: 50px;
}
.square-100p{
  height: 100px;
  width: 100px;
}
.square-200p{
  height: 200px;
  width: 200px;
}
.h-300p{
  min-height: 300px;
}
.h-200p{
	height: 200px;
}
.h-100p{
	max-height: 100px;
}
.h-80p{
	height: 80px;
}
.h-30p{
	height: 30px;
}
.h-400p{
	min-height: 400px;
}
.h-600p{
	min-height: 600px;
}
.h-100{
  height: 100%;
}
.h-90{
  height: 90%;
}
.h-50{
  height: 50%;
}
.w-200p{
  width: 200px;
}
.w-250p{
  width: 250px;
}
.w-300p{
  width: 300px;
}
.mt-70{
  margin-top: 70px;
}
.justify-space-evenly{
	justify-content: space-evenly;
}
.br-4{
	border-radius: .25rem;
}
.br-8{
	border-radius: .5rem !important;
}
.float{
	position:fixed;
	bottom:40px;
	right:40px;
	background-color:#4d547a;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}
.btn.selected{
  color: #686f77;
  text-decoration: none;
}
.btn-dark{
  background-color: rgb(32, 32, 33);
  color: #fff;
  border-color: rgb(32, 32, 33);;
}
.btn-secondary{
	/* background-color: #35B876;
  border-color: #35B876; */
  background-color: #222748;
  border-color: #222748;
}
.btn-secondary-inverse{
	color: #222748;
	background-color: #f5f2f5;
	border-color: #222748;
	border: 1px solid;
}
.btn-secondary:hover,.btn-secondary:focus {
	background-color: #222748;
	border-color: #222748;
	transition: all 2s ease-out;
}
.text-primary, .text-primary *{
	color: #111921 !important;
}
.text-primary-light{
  color: #e8e8e8 !important;
}
.border-bottom{
  border-bottom: 1px solid #4d547a;
}
.cursor-pointer{
  cursor: pointer;
}
.transit{
	transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-webkit-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
}
.animate-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #222748;
	transition: width .3s;
}

.animate-link:hover::after {
    width: 100%;
}

.full-width{
	position: absolute;
    width: 100%;
    left: 0;
}
.full-width> div{
	padding-left: 5.6em;
  padding-right: 5.6em;
}

.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
.p-fixed{
  position: fixed;
}
.p-static{
  position: static;
}
.bs{
	-webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
}
.bs-light{
  box-shadow: 0 5px 10px -5px rgba(0,0,0,.1);
}
.view-more{
  border: 1px solid lightgrey;
  background-color: #fff;
}
.section-head{
	font-weight: 700;
	color: #111921;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 2em !important;
}
.border-top{
	border-top: 3px solid #222748 !important;
}
.z-index-99{
	z-index: 99
}
.open-quote{
	content: open-quote;
    font-weight: 400;
    font-size: 7em;
    color: hsla(32, 1%, 54%, 1);
    position: absolute;
    top: 90px;
    left: -29px;
}
.font-bold{
  font-weight: bold;
}
.font-900{
  font-weight: 900 !important;
}
.font-800{
  font-weight: 800 !important;
}
.font-700{
  font-weight: 700 !important;
}
.font-600{
  font-weight: 600 !important;
}
.font-500{
  font-weight: 500 !important;
}
.font-300{
    font-weight: 300 !important;
  }
.text-sm{
  font-size: small;
}
.text-line-through{
    text-decoration: line-through;
}
.text-size-3{
  font-size: 3em;
}
.text-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 18px;
  max-height: 36px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.img-responsive{
  max-width: 100%;
}
.text-underline{
  text-decoration: underline;
}
/* Animatiion classes defined here */
.bounce{
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-name: bounce;
}
@keyframes bounce{
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-8.7px);
	}
}

.slide-fade-enter-active {
  transition: all .8s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(30px);
  opacity: 0;
}


/* specific classes defined here  */
/* total width */
*::-webkit-scrollbar {
  background-color:#fff;
  width:16px
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
  background-color:#fff
}
*::-webkit-scrollbar-track:hover {
  background-color:#f4f4f4
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:5px solid #fff
}
*::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
  border:4px solid #f4f4f4
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {display:none}
  a.logo-text{
    width: 150px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 2.2em;
    color: #2f2f2f;
    font-weight: bolder;
    letter-spacing: 1px;
  }
  .bg-dark{
    background-color: #111921 !important;
    color: #f5f2f5 !important;
  }
  .bg-dark a.logo-text{
    border: 2px solid #f5f5f5;
    color: #f5f2f5;
  }
  header > ul  li{
	list-style: none;
  }
  section.header{
    background-color: #fff;
  }
 .hero{
    width: 100vw;
    height: calc(400px);
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
 .hero >div{
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
 }
 .hero img{
	 width: 95%;
	 margin-top: 20px;
 }
 .hero h1{
  color: #fff;
  font-size: 3em;
  text-shadow: 0px 0px 2px #fff;
  font-weight: 800;
 }
 .hero #search-input{
    padding: 15px;
 }
 .hero #search-select{
	padding: 8px;
    margin-left: -4px;
    border: 0px;
	padding-bottom: 9px;
	color: #757575;
 }
 .hero #search-btn{
	margin-left: -4px;
 }
div.team-count{
  background: url(../img/de.jpg);
}
.project-card{
	margin: 20px;
}
.project-card:hover{
    -webkit-box-shadow: 0px 0px 18px 6px rgb(193, 192, 192);
	-moz-box-shadow: 0px 0px 18px 6px rgb(193, 192, 192);
	box-shadow: 0px 0px 18px 6px rgb(193, 192, 192);
}
.project-card > div{
	width: 100%;
	min-height: 150px;
}
.project-card > div>figure{
  max-height: 150px;
  overflow-y:hidden;
}
.project-card > div>figure>img{
	width: 100%;
  height: auto;
  min-height: 150px;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}
.project-card .overlay >div{
	display: none;
	transition: all 8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.project-card .overlay{
	width: 100%;
	min-height: 150px;
	position: absolute;
	z-index: 3;
	background: rgba(17, 25, 33, 0.1);
	top: 0;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.project-card .overlay:hover{
	background: rgb(17, 25, 33);
	height: auto;
	z-index: 4;
}
.project-card .overlay:hover > div {
	display: block;
}
.project-card .date{
	position: absolute;
	top: 0px;
	width: 60px;
	height: 75px;
	background-color: #202021;
	right: 10px;
	z-index: 3;
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
}
.project-card .date > .day{
	display: block;
	width: 50px;
	height: 50px;
	background-color: #fff;
	color: #4d547a;
	border-radius: 50%;
	margin-left: 5px;
	text-align: center;
	font-size: 1.4em;
	font-weight: 500;
	margin-top: 4px;
}
.project-card .date > .month{
	display: block;
	width: 100%;
	color: #fff;
	text-align: center;
}
.project-card .pm-info> .pm-img{
  padding: 5px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #f5f2f5;
}
.project-card .pm-info{
	position: absolute;
  top: -23px;
  left: 10px;
  z-index: 3;
}
.project-card .pm-info>.pm-name{
    margin-left: 0.25rem;
	color: #2d3248;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 400;
}
.project-card .wrap>span{
    font-size: 1rem;
    letter-spacing: 0.5px;
}
.project-card h5{
  font-size: 1em;
}
.project-card .down > div.foot{
	bottom: 0;
}
.project-card .down >div.foot >ul{
	justify-content: space-between;
}
.project-card .down >div.foot >ul>li:nth-child(1){
	font-size: 0.7em;
	padding-top: 1em;
}
.project-card .down >div.foot >ul>li .fa-round{
  padding: 0.7em;
  background-color: transparent;
  border-radius: 50%;
  color: #424242;
  font-size: 0.9em;
}
.testimonials > div{
	height: 400px;
	min-height: 400px;
	background-color: #111921;
	color: #f2eded;
}
.testimonials .row, .footer .full-width>div{
	padding-left: 5.6em;
	padding-right: 5.6em;
}
/* .testimonials .row>div{
	padding-left: 0px !important;
	padding-right: 0px !important;
} */
.testimonials .testimonials-text > span{
	margin-top: 1em;
	max-width: 80%;
}
.testimonials  .testimonials-video > video{
	height: 90%;
	width: 100%;
	display: block;
}
/* .how-it-works >div.desc{
  background: url(../img/de2.png);
} */
.how-it-works .row .icon-circle{
	width: 100px;
	height: 100px;
	background-color: #222748;
	border-radius: 50%;
	text-align: center;
}
.how-it-works .row .icon-circle > i{
  font-size: 3em;
  padding: 0.5em;
	color: #fff;
	text-align: center;
}
.how-it-works .info h2{
	color: #fff;
	font-size: 3em;
	margin-top: 1em
}
.how-it-works .info button{
	font-size: 1.5em;
	font-weight: 100;
	padding-left: 2.5em;
	padding-right: 2.5em;
}
.footer .footer-1{
	background-color: #232848;
	width: 100%;
	padding-top: 4em;
	padding-bottom: 4em;
}
.footer .footer-2{
	background-color: #111921;
	min-height: 90px;
	height: 90px;
	width: 100%;
	color: #f2eded;
}
.footer .footer-2 i{
	font-size: 2.5em;
	margin: .25em;
}
.footer .footer-1 {
	color: #f2eded;
}
.footer .footer-1 .logo-text{
	color: #f2eded;
	border-color: #f2eded;
}
.footer .footer-1 .right{
	border-left: 0.6px solid #f2eded;
	padding-left: 1.4em;
}
.footer .footer-1 .right ul{
	list-style: none;
}
.footer .footer-1 .right ul>li{
	list-style: none;
	margin-bottom: 3px;
}
.footer .footer-1 .right >div.app-link > a>img{
	width: 80px;
	height: auto;
}
@media (max-width: 767px){
  .full-width>div {
    padding-left: 0em;
    padding-right: 0em;
  }
  .text-size-3{
    font-size: 2em;
  }
	.mt-mb-3{
		margin-top: 1rem;
	}
	.hero .row >.col-md-6:nth-child(1)::before{
		background-image: url(../img/group-ill-1.png);
		background-size: contain;
		background-repeat: no-repeat;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0.5;
	}
	.hero .row >.col-md-6:nth-child(1)>div{
		z-index: 2;
	}
	.hero .row>.col-md-6:nth-child(1)>div>h1{
    text-shadow: #425e95 2px 2px 2px;
    font-size: 2em;
	}
	.footer .footer-1 .right{
		width: 100%;
		border-top: 0.6px solid #f2eded;
		border-left: 0;
		padding-left:0;
		margin-top: 10px;
		padding-bottom: 1em;
		padding-top: 3em;
	}
	.footer .footer-1{
		height: 600px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.footer .footer-2 .row>.col-md-6:nth-child(1){
		justify-content: center;
		font-size: 1em;
	}
	.footer .footer-2 .row>.col-md-6:nth-child(2) .copyright{
		font-size: 0.6rem
	}
	.footer .footer-2 i{
		font-size: 1em;
		margin: .25em;
	}
	.footer .footer-2 h3{
		font-size: 1.2em
	}
}


/* Authentication page */
section.auth  .card{
	background-color: #fff;
	color: #212122;
	text-align: center;
	margin: 0 auto;
	max-width: 75%;
}

section.auth .card>.card-header{
	font-size: 1.2em;
  padding-top: 1em;
  background-color: #fff;
}
section.auth .card .form-group input{
	padding-left: 1.7em;
    padding-top: .5em;
	padding-bottom: .5em;
	order: 1px solid #11272A;
}
/* section.auth .card .form-group a{
	color: #f2eeee !important;
} */
section.auth a{
  color: #222748;
}
section.auth .card .form-group a.accept{
  color: #222748 !important;
}
section.auth .card .form-group .forgot-link{
	color: #9fcaee !important;
	margin-top: -6px;
}
.forgot-link{
    font-size: 0.9em;
}
section.auth .card .form-group .btn-fb{
	background-color: #1667AE;
}
.btn-google{
	background-color: #2196F3;
}
.btn-github{
	background-color: #000000;
}
.btn-tw{
	background-color: #29B5E9;
}
@media (max-width: 767px){
	section.auth  .card{
		max-width: 100%;
	}
}

/**
* Project Details Pgae
*/
.project-detail .nav-tabs-custom a{
  color: #111921;
}
.project-detail a:hover, .project-detail a.active{
  color: #222748;
  border-bottom: 2px solid #222748;
}
.project-detail .project-cover{
  max-height: 300px;
  overflow: hidden;
}
.project-detail .project-cover::after{
  content: "";
  width:100vw;
  clear: both;
  position: relative;
}
.project-title{
  bottom: 0;
  position: absolute;
  color: #fff;
}
.project-title .title{
  font-size: 3rem;
  text-shadow: #000 2px 2px 2px;
}
.projects-more{
  margin-top: 10em;
}
.project-owner-info{
  text-align: center;
}
.project-owner-info> span:last-child{
  color: hsl(230, 0%, 8%);
  font-size: 0.8em;
}
.project-detail p::first-letter{
  text-transform: uppercase;
}

/**
* Project Edit page
*/
.project-edit span.img-edit{
  bottom: 0px;
  background: rgba(53, 184, 118, 0.81);
  color: #fff;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.project-edit div.loading-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3b5d763d;
  top: 0;
}

/**
* Project Complete page
*/
.project-complete div.shot{
  width: 100px;
  height: 100px;
  display: flex;
  text-align: center;
  background-color: #f5f2f5;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #d7d6d7;
  cursor: pointer;
  border: 4px solid #d7d6d7;
  background-position: center;
  background-size: contain;
}

/**
* Manager Homepage
*/
.percentage-complete{
  background-color: #41486c !important;
  color: #f5f2f5;
}
.project-card-home{
  width: 300px;
  height: 175px;
  background-size: cover;
  background-repeat: no-repeat;
}
.project-card-home >.card-body{
  background-color:#f5f2f5;
}
.project-card-home >.card-body h6{
  color: #222222 !important;
}
.project-card-home >.card-foot span{
  color: #9e9c9c;
  font-size: 0.8em;
}
/**
* Volunteer Homepage
*/
.no-project span.emoji{
  font-size: 2em;
}

/**
* Contributors card
*/
.contributors-card{
  width: 200px;
  height: 150px;
  padding: 1em;
  background-color: hsla(230, 26%, 30%, 1);
  color: #fff;
  text-align: center;
}



/**
* Admin Dashboard
*/


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 1s ease-out;
  -moz-transition: margin 1s ease-out;
  -o-transition: margin 1s ease-out;
  transition: margin 1s ease-out;
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
  /* -webkit-animation: swing-out-top-bck 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: swing-out-top-bck 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) both; */
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}














/**
Custom image upload style
*/
.img-upload{
  width: 200px;
  min-height: 40px;
  background-color: #999;
}


/**
Custom Select Box
*/

.custom-select-box select {
  background-color: #222748;
  color: white;
  padding: 5px;
  padding-right: 35px;
  padding-left: 12px;
  border: none;
  font-size: 1em;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.custom-select-box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  text-align: center;
  font-size: 1em;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.custom-select-box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.custom-select-box select option {
  padding: 30px;
}
.custom-select-box select option:hover{
  background-color: #302F2F;
}




/**
Progress Bar Style
*/
.progress {
  overflow: visible;
  margin-bottom: 26px;
  height: 4px;
}
.progress .progress-bar {
  background-color: #5c4084;
  position: relative;
  border-radius: 4px;
}
.progress .progress-bar span {
  background-color: #5c4084;
  position: absolute;
  bottom: -20px;
  font-size: 10px;
  line-height: 10px;
  padding: 2px 3px 2px 4px;
  right: -1.4em;
  border-radius: 2px;
}
.progress .progress-bar span:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #5c4084;
  border-width: 5px;
  margin-left: -5px;
}

/**
* Slick list item
***/
ul.slick-list{
  list-style: none;
}
ul.slick-list>li{
  list-style: none;
  padding: 10px;
  color: #333;
  box-shadow: 0 0 1px rgba(16,14,23,.25);
  margin-bottom: 8px;
  border-radius: 4px;
  font-size: 0.9em;
  cursor: pointer;
  min-height: 50px;
  position: relative;
  border: 0;
  background-color: #f7f5f7;
  text-align: left;
}
div.ops{
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0.7;
  display: none;
  background-color: #b4d5c5;
  border-bottom-left-radius: 4px;
  padding: 4px;
  cursor: pointer;
}
.step-head:hover>div.ops{
  display: inline;
}
ul.slick-list>li:hover>div.list-ops{
  display: inline;
}

/**
* Loader
**/
div.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/loader.gif);
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  background-color: #fff;
}
div.busy{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #393f6096;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  right: 0;
  left: 0;
}
div.busy div.spinner-border{
  width: 4rem;
  height: 4rem;
}

/**
* Rating
*/
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


/**
* Profile page
**/

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #4d547a;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  display: block;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #4d547a;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #4d547a;
  background-color: #f6f9fb;
  border-left: 2px solid #4d547a;
  margin-left: -2px;
}

.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

/**
* Switch button
*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch .desc{
  right: 70px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #222748;
}

input:focus + .slider {
  box-shadow: 0 0 1px #222748;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/**
* Emoji animation
*/
.emoji {
  display: inline-block;
  -webkit-animation: color 1s linear infinite, rotate 2s ease-in-out infinite;
  animation: color 1s linear infinite, rotate 2s ease-in-out infinite;
}
@-webkit-keyframes color {
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes color {
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0%, 100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@keyframes rotate {
  0%, 100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation swing-out-top-bck
 * ----------------------------------------
 */
 @-webkit-keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}
@keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}


.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.swing-out-top-bck {
	-webkit-animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

/**
 * ----------------------------------------
 * animation color-fill
 * ----------------------------------------
 */

 @keyframes color-fill{
   from { color: rgba(53, 184, 118, 0); }
   from { color: rgba(53, 184, 118, 0.7); }
 }

 .color-fill{
   animation: color-fill 1s infinite alternate;
 }
